.centered_form {
  min-width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem
}
@media (max-width: 500px) {
  .centered_form {
    min-width: 90%;
  }
}

.centered_div {
  min-width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem
}
@media (max-width: 500px) {
  .centered_div {
    min-width: 90%;
  }
}